<script src="../services/checkLoginService.js"></script>
<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <a class="navbar-brand" href="#">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQaMMA9GfcnxbgLv_eCZh3q3hEuQizYka1_zw&usqp=CAU"
            width="40" height="40">
        Train ticket booking
    </a>

    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="index.html" data-loggedin=false>Home</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item dropdown" data-loggedin="true">
                <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">Trains</a>
                <div class="dropdown-menu" aria-labelledby="dropdownId">
                    <a class="dropdown-item" href="addTrains.html" id="addtrains" data-loggedin=true> AddTrains</a>
                    <a class="dropdown-item" href="deleteTrains.html" id="deletetrains" data-loggedin=true>
                        DeleteTrains</a>
                    <a class="dropdown-item" href="searchTrains.html" data-loggedin=true> search Trains</a>
                    <a class="dropdown-item" href="viewTrains.html" data-loggedin=true>view Trains </a>
                    
                </div>
            </li>
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                <li class="nav-item dropdown" data-loggedin="true">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Tickets</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">

                        <a class="dropdown-item" href="viewTickets.html" data-loggedin=true>view tickets </a>
                        <a class="dropdown-item" href="cancelTickets.html" data-loggedin=true>cancel tickets </a>
                    </div>
                </li>
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item ">
                        <a class="nav-link" href="login.html" data-loggedin=false>Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="register.html" data-loggedin=false>Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="" data-loggedin=true style="display: block;">Welcome </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="" onclick="logout()" data-loggedin=true>(Logout) </a>
                    </li>
                </ul>

    </div>
</nav>
<script>
    var user = JSON.parse(localStorage.getItem("LOGGED_IN_USER"));
    console.log("LOGGED_IN_USER", user);
    if (user) {
        console.log("User is logged in");
        // Hide menus which has data-loggedin=false
        // Show menus which has data-loggedin=true
        document.querySelectorAll(".nav-link[data-loggedin=false] , .nav-item[data-loggedin=false] , .dropdown-item[data-loggedin=false]").forEach(obj => obj.style.display = "none");
        document.querySelectorAll(".nav-link[data-loggedin=true] , .nav-item[data-loggedin=true] , .dropdown-item[data-loggedin=true]").forEach(obj => obj.style.display = "block");
    }
    else {

        console.log("User is not logged in");
        // Hide menus which has data-loggedin=true
        // Show menus which has data-loggedin=false
        document.querySelectorAll(".nav-link[data-loggedin=true] , .nav-item[data-loggedin=true] , .dropdown-item[data-loggedin=true]").forEach(obj => obj.style.display = "none");
        document.querySelectorAll(".nav-link[data-loggedin=false] , .nav-item[data-loggedin=false] , .dropdown-item[data-loggedin=false]").forEach(obj => obj.style.display = "block");

    }
    let checkLoginServiceObj = new CheckLoginService();
    var isAdmin = checkLoginServiceObj.check();
    if (isAdmin == false) {
        document.getElementById("addtrains").style.display = "none";
        document.getElementById("deletetrains").style.display = "none";
    }
    function logout() {
        // localStorage.clear();
        localStorage.removeItem("LOGGED_IN_USER");
        window.location.href = "login.html";
    }

</script>