.page-title {
    font-size: 32px;
    font-weight: bolder;
    text-align: center;
}

div{
/*background-image: url("https://i.pinimg.com/736x/f7/23/3d/f7233dd49fb9f42b368718c875c08ce5.jpg");*/
height: 100%;
width: 100%;
background-size: 100%;
/*background-image: url("https://imgeng.jagran.com/images/2020/may/09_04_2020-indian_railways_2017796415864943135981589124014493.jpg");*/
background-repeat: no-repeat;
}